@import 'tailwindcss';

/* Дополнительные кастомные стили */
@theme {
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-indigo-700: #4338ca;
  /* Добавьте другие кастомные цвета при необходимости */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}